<!DOCTYPE html>
<html>
  <head>
      <!-- List of variables accessible here:
        title - title of the page (displayed on browser tab)
    -->
    <meta name="description" content="Landing Page">
    <meta name="author" content="Austin Cinker">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/landingstyle.css' />
    
  </head>
  <body>
    <div class="header" id="EGheader">
        <div class="nav">
            <a href="../">Landing Page</a>
            <a href="../about_page">About</a>
        </div>
    </div>

    <div class="content">
        <h1>Welcome to Event Genius!</h1>
        <h3>The no brainer solution for planning and executing your events.</h3>
        <br><span class="custom-br"></span><br> <!-- custom span for custom ____ -->

        <div class="features">
            <h1>Features</h1>
            <ul>
              <li>Potential clients can contact you easily using custom forms</li>
              <li>Customize the information you would like to receive from clients</li>
              <li>Google Calender integration so you can see your schedule at a glance!</li>
              <li>Event pages that show everyone involved, pertinent information, and an event-wide chat!</li>
              <li>User pages that show your social media presence and event history</li>
            </ul>
            <p>Unlike some event planning services, we keep your data secure. It is your information. You are in control.</p>
        </div>
        <br><span class="custom-br"></span><br> <!-- custom span for custom ____ -->
        <p class="fakeh">If you would like to sign up for development updates, visit the <a id="a1" href="../">landing page</a> and sign up today!</p>
    </div>
  </body>
</html>
