<!--h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
-->
<!DOCTYPE html>
<html>
  <head>
      <!-- List of variables accessible here:
        title - title of the page (displayed on browser tab)
    -->
    <meta name="description" content="Error Page">
    <meta name="author" content="Austin Cinker">
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/landingstyle.css' />
    
  </head>
  <body>
    <div class="header" id="EGheader">
        <div class="nav">
            <a href="../">Landing Page</a>
            <a href="../about_page">About</a>
        </div>
    </div>

    <div class="content">
        <h1>Error</h1>
    </div>
  </body>
</html>

