<!DOCTYPE html>
<html>
  <head>
      <!-- List of variables accessible here:
        title - title of the page (displayed on browser tab)
    -->
    <meta name="description" content="Landing Page">
    <meta name="author" content="Austin Cinker">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/landingstyle.css' />
    
  </head>
  <body>
    <div class="header" id="EGheader">
        <div class="nav">
            <a href="../">Landing Page</a>
            <a href="../about_page">About</a>
        </div>
    </div>

    <div class="content">
        <div class="block">
            <h1>Welcome to Event Genius!</h1>
            <h3>The no brainer solution for planning and executing your events.</h3>
            <br><span class="custom-br"></span><br> <!-- custom span for custom ____ -->
            <p>Finally! Event Planners, DJs, Photographers, Caterers, Venue Personnel, and more will be able 
                to combine their brain power to create the best events possible.</p>
            
            <p>Turn inquiries into clients by giving them the information they need. Keep track of client needs and 
                access it all in one place. Seamlessly collaborate with other vendors so that everyone is on the same page.</p>
            <p>Never lose track of inquiries, upcoming events, and client correspondence. Consolidate and simplify your workflow.</p>
            <p>Raise the bar for weddings, corporate events, conferences, parties, and more!</p>
        </div>
        
        <br><span class="custom-br"></span><br> <!-- custom span for custom ____ -->

        <div class="block">
            <p class="fakeh">Our team is hard at work creating a website that will guide the industry forward. A beta version will be released soon. </p>
            <p class="fakeh">Sign up for development updates today!</p>
            <form action="/signup" method="post" class="signup">
                <table>
                    <tr>
                        <td>First Name</td>
                        <td><input type="text" required autofocus name="fname" placeholder="first name..."></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input type="text" required name="lname" placeholder="last name..."></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="email" required name="email" placeholder="email..."></td>
                    </tr>
                </table>
                <p class="note">*note: your information will NOT be used for marketing purposes, it will ONLY be stored in our secure database, 
                        and you will be notified of development updates. You will be able to unsubscribe at any time!</p>
                <a href="/thank_you"><button class="button" type="submit">Submit</button></a>
            </form>
        </div>
    </div>
  </body>
</html>
